// RESULTS-SEARCH :: BEGIN

section.indent-top-menu
  .container.container--full
    .results(data-aos="fade-up")
      .results__search-grid
        .results__search
          .ui-group.ui-group--no-margin
            input.ui-input(type="text", name="" placeholder="Houston, TX")
          button.results__search-button
            +svgMono('search-thin')
        .results__item
          .results__select
            select(js-select)
              option(value="val1") Price
              option(value="val2") Price #1
              option(value="val3") Price #2
              option(value="val4") Price #3
        .results__item
          .results__select
            select(js-select)
              option(value="val1") Beds
              option(value="val2") Beds #1
              option(value="val3") Beds #2
              option(value="val4") Beds #3
        .results__item
          .results__more
            a.results__more-button(href="#" js-open-filters) More Filters
              span
                +svgMono('select-arrow')
            .results__more-filter
              .results__more-content
                .results__more-row
                  p Property Type
                  .results__more-grid
                    .ui-checkbox
                      label Income Restricted (78)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox.ui-checkbox--disable
                      label Military (0)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Senior (25)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Short-Term (530)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Student (2051)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Houses (5389)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Condos (1913)
                        input(type="checkbox", name="")
                        span.checkbox
                .results__more-row
                  p Pets
                  .results__more-grid
                    .ui-checkbox
                      label Dogs (2116)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Cats (1972)
                        input(type="checkbox", name="")
                        span.checkbox
                .results__more-row
                  p Property Type
                  .results__more-grid
                    .ui-checkbox
                      label A/C (78)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Dishwasher (25)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Fireplace (2051)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Garage (1913)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Parking Available (6517)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Swimming Pool (4261)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Washer/Dryer Hookup (563)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Utilities Included (466)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Furnished (263)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label A/C (78)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Dishwasher (25)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Fireplace (2051)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Garage (1913)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Parking Available (6517)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Swimming Pool (4261)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Washer/Dryer Hookup (563)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Utilities Included (466)
                        input(type="checkbox", name="")
                        span.checkbox
                    .ui-checkbox
                      label Furnished (263)
                        input(type="checkbox", name="")
                        span.checkbox
                .results__more-row.results__more-row--middle
                  p Square Feet
                  .results__more-right
                    .results__select
                      select(js-select)
                        option(value="val1") Min
                        option(value="val2") 10
                        option(value="val3") 100
                        option(value="val4") 1000
                    p.to to
                    .results__select
                      select(js-select)
                        option(value="val1") Max
                        option(value="val2") 10
                        option(value="val3") 100
                        option(value="val4") 1000

                .results__more-row.results__more-row--middle
                  p Keyword Search
                  .results__more-right
                    .ui-group.ui-group--no-margin
                      input.ui-input(type="text", name="" placeholder="Separate keywords by")

              .results__more-bottom
                p 750 Apartments for Rent in Houston, TX
                .results__more-buttons
                  a.btn.btn--white(href="#") CLEAR
                  a.btn.btn--blue(href="#") DONE
        .results__item.results__item--right
          .results__select
            select(js-select)
              option(value="val1") Beds
              option(value="val2") Beds #1
              option(value="val3") Beds #2
              option(value="val4") Beds #3
          a.results__button(href="#") Save

// RESULTS-SEARCH :: END
