// learn-more-about-city

section.indent-top-menu
  .header-city-foto(style='background-image: url(../img/houston@2x.jpg)')
    h1.header-city-foto__city Houston

section.section_indent
  .container
    .learn-more-row.learn-more-row_indent
      .learn-more
        .learn-more__title.learn-more__title_indent_m-p.learn-more_line-b The largest, most diverse city in Texas has it all
        ul.learn-more__ul.learn-more__ul_indent
          li Vibrant
          li Diverse
          li Growing
          li Artistic
          li Affordable
        .learn-more__p
          = "Rich in attractions, imagination, and talent, Houston is one of the largest and most distinctive cities in the United States as well as the biggest city in the Lone Star State. It’s a thriving hub of business and culture, with hundreds of years of history and people from around the world creating one of the nation’s most unique urban communities."
        .learn-more__p
          = "Houston offers a wealth of attractions and activities for everyone. Cheer on Houston’s home teams whether you’re watching basketball at the Toyota Center, baseball at Minute Maid Park, football at NRG Stadium, or soccer at BBVA Compass Stadium. Indulge your curiosity at cultural institutions like the Houston Museum of Natural Science, Museum of Fine Arts Houston, and the Houston Zoo."
        .learn-more__p
          = "The Galleria and Willowbrook Mall contain hundreds of stores sure to delight all kinds of shoppers. Outdoor adventure abounds at numerous greenspaces around the city, including Memorial Park, George Bush Park, Cullen Park, and Discovery Green. Nicknamed “The Space City,” Houston is also the famous home of NASA’s Johnson Space Center."
        .learn-more__p
          = "Access to George Bush Intercontinental Airport and major highways makes getting around from Houston easy. San Antonio, Austin, and Dallas are all just a short drive away."

    .learn-more-row.learn-more-row_indent
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__grid-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity1.jpg", srcset="img/exploreTheCity1@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity2.jpg", srcset="img/exploreTheCity2@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity3.jpg", srcset="img/exploreTheCity3@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity4.jpg", srcset="img/exploreTheCity4@2x.jpg", alt="").learn-more__city-img

    .learn-more-row.learn-more-row_indent_x3
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__p As of May 2019, the average apartment rent in Houston, TX is $830 for a studio, $979 for one bedroom, $1,221 for two bedrooms, and $1,495 for three bedrooms. Apartment rent in Houston has increased by 0.1% in the past year.
        .learn-more__wrap-list.learn-more__no-responsive
          ul.learn-more__list
            li Beds
            li Studio
            li 1 BR
            li 2 BR
            li 3 BR
          ul.learn-more__list
            li Avg Sq Ft
            li 510
            li 727
            li 1,043
            li 1,359
          ul.learn-more__list
            li Avg Rent
            li $830
            li $979
            li $1,221
            li $1,495


    .learn-more-row.learn-more-row_indent_x3
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__wrap-list
          ul.learn-more__list.learn-more__list_indent
            li Statistic
            li Per Capita Income
            li Median Household Income
            li Population Density
            li Total Population
            li Average Age
            li Square Miles
            li Average Rent
            li Monthly Rent Change
          ul.learn-more__list
            li Value
            li $51,245
            li $64,614
            li 823 per square mile
            li 7,053,063 people
            li 35 years old
            li 602.00 square miles
            li $979 per month
            li 0.05%

    .learn-more-row
      .learn-more
        .learn-more__title.learn-more__title_indent_m Nearby
        .learn-more__dabl
          .learn-more__wrap-list.learn-more__list_indent
            ul.learn-more__list
              li Cities
              li Hilshire Village
              li Hedwig Village
              li Bunker Hill Village
              li Jacinto City
              li Sprin
            ul.learn-more__list
              li.learn-more__stub
              li West University Place
              li Bellaire
              li Jersey Village
              li Galena Park
              li Bordersvill
          .learn-more__wrap-list
            ul.learn-more__list
              li Neighborhood
              li Oak Forest-Garden Oaks
              li Cottage Grove
              li Independence Heights
              li Langwood
              li Acres Home
            ul.learn-more__list
              li.learn-more__stub
              li Lazy Brook-Timbergrove
              li Greater Heights
              li Spring Branch East
              li Memorial Park
              li Rice Military