///////////////////////
// learn-more-about-city
///////////////////////

.header-city-foto
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  height: 544px
  &__city
    color: #fff
    font-weight: 500
    font-size: 90px
    line-height: 123px
    margin: 0

.learn-more-row
  width: 100%
  max-width: 1262px
  margin: 0 auto
  &_indent
    padding-bottom: 10px
    &_x3
      padding-bottom: 30px

.section_indent
  padding-top: 42px
  padding-bottom: 63px

.learn-more
  &_line-b
    border-bottom: 1px solid $colorPrimary
  &__title
    font-weight: 500
    font-size: 34px
    line-height: 46px
    &_indent
      &_m-p
        padding-bottom: 16px
        margin-bottom: 27px
      &_m
        margin-bottom: 21px
  &__ul
    display: flex
    margin: 0
    padding: 0
    &_indent
      margin-bottom: 28px
    li
      position: relative
      margin-right: 15px
      padding-right: 15px
      font-size: 18px
      font-weight: 300
      &:before
        content: ''
        position: absolute
        top: 50%
        left: 100%
        transform: translate(-50%, -50%)
        width: 4px
        height: 4px
        border-radius: 50%
        background-color: #000
      &:last-child
        margin-right: 0
        padding-right: 0
        &:before
          display: none
  &__p
    font-size: 18px
    font-weight: 300
    margin-bottom: 20px
    line-height: 1.4
  &__grid-img
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__city
    width: calc(50% - 10px)
    &_indent
      margin-bottom: 20px
  &__city-img
    display: block
    width: 100%
  &__wrap-list
    display: flex
    flex-wrap: wrap
    width: 100%
  &__list
    width: 25%
    margin: 0
    padding: 0
    li
      display: block
      padding: 15px 0
      font-size: 16px
      font-weight: 500
      line-height: normal
      border-bottom: 1px solid #C5C5C5
      &:first-child
        color: $colorPrimary
  &__stub
    height: 53px
  &__dabl
    display: flex
    .learn-more__list
      width: 50%

+r($lg)
  .header-city-foto
    height: 300px
    &__city
      font-size: 70px
      line-height: 93px
  .learn-more
    &__list
      width: 50%
    &__dabl
      flex-wrap: wrap
    &__no-responsive
      .learn-more__list
        width: calc(100% / 3)

+r($md)
  .header-city-foto
    &__city
      font-size: 50px
      line-height: 65px
  .learn-more
    &__ul
      flex-wrap: wrap
    &__title
      font-size: 28px
      line-height: 40px


+r($sm)
  .header-city-foto
    height: 250px
    &__city
      font-size: 35px
      line-height: 42px
  .learn-more
    &__list
      width: 100%
      &_indent
        margin-bottom: 20px
    &__dabl
      .learn-more__list
        width: 100%
    &__stub
      display: none !important
    &__city
      width: 100%