// learn-more-about-city

section.indent-top-menu
  .header-city-foto
    img.header-city-foto__img(src="img/houston.jpg", srcset="img/houston@2x.jpg", alt="")
    .header-city-foto__city Houston

section.section_indent
  .container
    .learn-more-row.learn-more-row_indent
      .learn-more
        .learn-more__title.learn-more__title_indent_m-p.learn-more_line-b The largest, most diverse city in Texas has it all
        ul.learn-more__ul.learn-more__ul_indent
          li Vibrant
          li Diverse
          li Growing
          li Artistic
          li Affordable
        .learn-more__p
          = "Rich in attractions, imagination, and talent, Houston is one of the largest and most distinctive cities in the United States as well as the biggest city in the Lone Star State. It’s a thriving hub of business and culture, with hundreds of years of history and people from around the world creating one of the nation’s most unique urban communities."
        .learn-more__p
          = "Houston offers a wealth of attractions and activities for everyone. Cheer on Houston’s home teams whether you’re watching basketball at the Toyota Center, baseball at Minute Maid Park, football at NRG Stadium, or soccer at BBVA Compass Stadium. Indulge your curiosity at cultural institutions like the Houston Museum of Natural Science, Museum of Fine Arts Houston, and the Houston Zoo."
        .learn-more__p
          = "The Galleria and Willowbrook Mall contain hundreds of stores sure to delight all kinds of shoppers. Outdoor adventure abounds at numerous greenspaces around the city, including Memorial Park, George Bush Park, Cullen Park, and Discovery Green. Nicknamed “The Space City,” Houston is also the famous home of NASA’s Johnson Space Center."
        .learn-more__p
          = "Access to George Bush Intercontinental Airport and major highways makes getting around from Houston easy. San Antonio, Austin, and Dallas are all just a short drive away."

    .learn-more-row.learn-more-row_indent
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__grid-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity1.jpg", srcset="img/exploreTheCity1@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity2.jpg", srcset="img/exploreTheCity2@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity3.jpg", srcset="img/exploreTheCity3@2x.jpg", alt="").learn-more__city-img
          a(href="#").learn-more__city.learn-more__city_indent
            img(src="img/exploreTheCity4.jpg", srcset="img/exploreTheCity4@2x.jpg", alt="").learn-more__city-img

    .learn-more-row.learn-more-row_indent_x3
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__p As of May 2019, the average apartment rent in Houston, TX is $830 for a studio, $979 for one bedroom, $1,221 for two bedrooms, and $1,495 for three bedrooms. Apartment rent in Houston has increased by 0.1% in the past year.
        .learn-more__tabl
          .learn-more__tabl-row
            .learn-more__tabl-col Beds
            .learn-more__tabl-col Avg Sq Ft
            .learn-more__tabl-col Avg Rent
          .learn-more__tabl-row
            .learn-more__tabl-col Studio
            .learn-more__tabl-col 510
            .learn-more__tabl-col $830
          .learn-more__tabl-row
            .learn-more__tabl-col 1 BR
            .learn-more__tabl-col 727
            .learn-more__tabl-col $979
          .learn-more__tabl-row
            .learn-more__tabl-col 2 BR
            .learn-more__tabl-col 1,043
            .learn-more__tabl-col $1,221
          .learn-more__tabl-row
            .learn-more__tabl-col 3 BR
            .learn-more__tabl-col 1,359
            .learn-more__tabl-col $1,495

    .learn-more-row.learn-more-row_indent_x3
      .learn-more
        .learn-more__title.learn-more__title_indent_m Explore the City
        .learn-more__tabl
          .learn-more__tabl-row
            .learn-more__tabl-col Statistic
            .learn-more__tabl-col Value
          .learn-more__tabl-row
            .learn-more__tabl-col Per Capita Income
            .learn-more__tabl-col $51,245
          .learn-more__tabl-row
            .learn-more__tabl-col Median Household Income
            .learn-more__tabl-col $64,614
          .learn-more__tabl-row
            .learn-more__tabl-col Population Density
            .learn-more__tabl-col 823 per square mile
          .learn-more__tabl-row
            .learn-more__tabl-col Total Population
            .learn-more__tabl-col 7,053,063 people
          .learn-more__tabl-row
            .learn-more__tabl-col Average Age
            .learn-more__tabl-col 35 years old
          .learn-more__tabl-row
            .learn-more__tabl-col Square Miles
            .learn-more__tabl-col 602.00 square miles
          .learn-more__tabl-row
            .learn-more__tabl-col Average Rent
            .learn-more__tabl-col $979 per month
          .learn-more__tabl-row
            .learn-more__tabl-col Monthly Rent Change
            .learn-more__tabl-col 0.05%

    .learn-more-row
      .learn-more
        .learn-more__title.learn-more__title_indent_m Nearby
        .learn-more__tabl
          .learn-more__tabl-row
            .learn-more__tabl-col Cities
            .learn-more__tabl-col
            .learn-more__tabl-col Neighborhood
            .learn-more__tabl-col
          .learn-more__tabl-row
            .learn-more__tabl-col Hilshire Village
            .learn-more__tabl-col West University Place
            .learn-more__tabl-col Oak Forest-Garden Oaks
            .learn-more__tabl-col Lazy Brook-Timbergrove
          .learn-more__tabl-row
            .learn-more__tabl-col Hedwig Village
            .learn-more__tabl-col Bellaire
            .learn-more__tabl-col Cottage Grove
            .learn-more__tabl-col Greater Heights
          .learn-more__tabl-row
            .learn-more__tabl-col Bunker Hill Village
            .learn-more__tabl-col Jersey Village
            .learn-more__tabl-col Independence Heights
            .learn-more__tabl-col Spring Branch East
          .learn-more__tabl-row
            .learn-more__tabl-col Jacinto City
            .learn-more__tabl-col Galena Park
            .learn-more__tabl-col Langwood
            .learn-more__tabl-col Memorial Park
          .learn-more__tabl-row
            .learn-more__tabl-col Spring
            .learn-more__tabl-col Bordersville
            .learn-more__tabl-col Acres Home
            .learn-more__tabl-col Rice Military