// 404 :: BEGIN

section
  .container
    .page404
      p.page404__title 404: Page not found
      p.page404__sub-title We can’t find page you are looking for.
      .page404__buttons
        a(href="#signIn" js-popup data-effect="mfp-zoom-in") Sign In
        a(href="#signUp" js-popup data-effect="mfp-zoom-in") Sign Up

// 404 :: END
