// POPUPS :: BEGIN

#signIn.popup.mfp-with-anim.mfp-hide
  .popup__inner
    p.popup__title Sign In
    .popup__buttons
      a.is-active(href="#" js-open-popup-tab) Renter
      a(href="#" js-open-popup-tab) Agent
      a(href="#" js-open-popup-tab) Manager
    .popup__tabs
      .popup__tab.is-active
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href='#')  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href='#')  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href='#')  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

#signUp.popup.mfp-with-anim.mfp-hide
  .popup__inner
    p.popup__title Sign Up
    .popup__buttons
      a.is-active(href="#" js-open-popup-tab) Renter
      a(href="#" js-open-popup-tab) Agent
      a(href="#" js-open-popup-tab) Manager
    .popup__tabs
      .popup__tab.is-active
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href='#')  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href='#')  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href='#')  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

// POPUPS :: END
