// POPUPS :: BEGIN

#signIn.popup.mfp-with-anim.mfp-hide
  .popup__inner
    p.popup__title Sign In
    .popup__buttons
      a.is-active(href="#" js-open-popup-tab) Renter
      a(href="#" js-open-popup-tab) Agent
      a(href="#" js-open-popup-tab) Manager
    .popup__tabs
      .popup__tab.is-active
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href="#signUp" js-popup data-effect="mfp-zoom-in")  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href="#signUp" js-popup data-effect="mfp-zoom-in")  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='Email / Username')
          .ui-group
            input.ui-input(type='text', placeholder='Password')
          a.popup__forgot(href='#') Forgot Password?
          p.popup__dont Don't have an account?
            a(href="#signUp" js-popup data-effect="mfp-zoom-in")  Sign up
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign In')
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

#signUp.popup.mfp-with-anim.mfp-hide
  .popup__inner
    p.popup__title Sign Up
    .popup__buttons
      a.is-active(href="#" js-open-popup-tab) Renter
      a(href="#" js-open-popup-tab) Agent
      a(href="#" js-open-popup-tab) Manager
    .popup__tabs
      .popup__tab.is-active
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href="#signIn" js-popup data-effect="mfp-zoom-in")  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href="#signIn" js-popup data-effect="mfp-zoom-in")  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

      .popup__tab
        form(action='#')
          .ui-group
            input.ui-input(type='text', placeholder='First Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Last Name*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Email*' required)
          .ui-group
            input.ui-input(type='text', placeholder='Password*' required)
          p.popup__dont Already a member?
            a(href="#signIn" js-popup data-effect="mfp-zoom-in")  Sign in
          .popup__submit
            input.btn.btn-outline(type='submit', value='Sign Up')
            p.popup__submit-info By Registring I accept the terms of use.
          .popup__social
            p Or Connect With
            .popup__social-row
              a(href="#")
                +svgMono('social-facebook')
              a(href="#")
                +svgColor('google-plus')

#getQuote.popup.mfp-with-anim.mfp-hide
  .popup__getQuote
    form(action="#")
      .popup__getQuote-logo
        i.icon.icon-logo
      .popup__getQuote-wrap
        .popup__getQuote-grid
          .popup__getQuote-item
            .ui-group
              input.ui-input(type="text" placeholder="First Name*" required)
          .popup__getQuote-item
            .ui-group
              input.ui-input(type="text" placeholder="Last Name*" required)
          .popup__getQuote-item.popup__getQuote-item--full
            .ui-group
              input.ui-input(type="text" placeholder="Email id*" required)
          .popup__getQuote-item.popup__getQuote-item--full
            .ui-group
              input.ui-input(type="text" placeholder="Phone")
          .popup__getQuote-item
            .ui-group
              input(type="text" placeholder="Date" js-date js-dateMask).ui-input.check-availability__bg-ico
          .popup__getQuote-item
            .ui-group
              select(js-select)
                option(value="0") Lease Term
                option(value="1") Lease Term 1
                option(value="2") Lease Term 2
                option(value="3") Lease Term 3
                option(value="4") Lease Term 4
                option(value="5") Lease Term 5
          .popup__getQuote-item.popup__getQuote-item--center
            button(type="submit").popup__getQuote-button
              +svgMono('mail-result')
              | Get Quote



// POPUPS :: END
