// ABOUT :: BEGIN

section.indent-top-menu
  .container
    .about-us
      .about-us__ico(data-aos="fade-up")
        +svgMono('town')
      p.about-us__title(data-aos="fade-up")
        a(href="#") RentDeals.com
        | are the premier providers of furnished corporate housing and furnished rental solutions in Houston, Texas.
      p.about-us__description(data-aos="fade-up") At RentDeals.com, we strive to make relocating and searching for furnished apartments easy and convenient. Our mission at RentDeals.com is to provide renters with furnished rental packages that will accomodate most budgets.
      .about-us__grid
        .about-us__item(data-aos="fade-up")
          p.about-us__question What You’ll Find at RentDeals.com
          p.about-us__info We are focused on offering our clients short-term and long-term furnished rental solutions and housing options, while providing exceptional customer service. Our all-inclusive packages offer clients a better standard of corporate housing available at most price points. In our selection, you’ll find both fully furnished apartments and furnished bundle packages.
          p.about-us__info Whether you’re searching for the right corporate furnished apartment or furnished bundle package, we have solutions to fit nearly any need. Choose from a variety of properties that include mid-rise apartments, luxury high-rises, lofts or single-family homes to fit your short-term stay. Our goal is to help you find and move into a property that meets all your needs.
        .about-us__item(data-aos="fade-up")
          p.about-us__question Why People Use RentDeals.com?
          p.about-us__info Personalized accommodations at budget-friendly rates make RentDeals.com a go-to tool for people in need of corporate housing and furnished rental solutions. Ultimately, however, it’s our premium customer service that puts us above and beyond the competition. Our team focuses on what our customers want and need, which enables us to curate an extensive list of properties and packages that work for them.
          p.about-us__info As a client focused team, we believe in the importance of fast delivery and setup of the services you select. With nationwide coverage for all your corporate housing needs, we can get you into a turn-key furnished apartment anywhere in the country quickly.


// ABOUT :: END
