// contact

section.indent-top-menu
  .container
    .call-back.call-back_indent(data-aos="fade-up")
      .call-back__ico.call-back__ico_indent
        +svgColor('operator')
      .call-back__wrap-text
        span.call-back__text.call-back__text_indent To speak with a representative, please call:
        a(href="tel:800 644 5012").call-back__tel (800) 644 5012
    .line-1168(data-aos="fade-up")

section
  .container
    form.form-call-back.form-call-back_indent(action="#")
      .form-call-back__title.form-call-back__title_indent(data-aos="fade-up") Please send us your questions or comments
      .form-call-back__grid(data-aos="fade-up")
        .form-call-back__item
          .ui-group
            input.ui-input(type="text" placeholder="First Name *" required)
        .form-call-back__item
          .ui-group
            input.ui-input(type="text" placeholder="Last Name *" required)
        .form-call-back__item
          .ui-group
            input.ui-input(type="text" placeholder="Email Address")
        .form-call-back__item
          .ui-group
            input.ui-input(type="text" placeholder="Subject")
        .form-call-back__item.form-call-back__item--textarea
          .ui-group
            textarea.ui-input(placeholder="Message" data-aos="fade-up")
      .form-call-back__wrap-btn(data-aos="fade-up")
        button(type="submit").form-call-back__red-btn Send
