// contact

section.indent-top-menu
  .container
    .call-back.call-back_indent
      .call-back__ico.call-back__ico_indent
        +svgColor('operator')
      .call-back__wrap-text
        span.call-back__text.call-back__text_indent To speak with a representative, please call:
        a(href="tel:800 644 5012").call-back__tel (800) 644 5012
    .line-1168

section
  .container
    form.form-call-back.form-call-back_indent
      .form-call-back__title.form-call-back__title_indent Please send us your questions or comments
      .form-call-back__wrap-input
        input.form-call-back__input.form-call-back__input_indent(type="text" placeholder="First Name *" required)
        input.form-call-back__input.form-call-back__input_indent(type="text" placeholder="Last Name *" required)
        input.form-call-back__input.form-call-back__input_indent(type="text" placeholder="Email Address")
        input.form-call-back__input.form-call-back__input_indent(type="text" placeholder="Subject")
      textarea(placeholder="Message").form-call-back__textarea.form-call-back__textarea_indent
      .form-call-back__wrap-btn
        button(type="submit").form-call-back__red-btn Send