// HEADER :: START
header.header
  .container.container--full
    .header__wrapper
      a(href="homepage.html").header__logo
        i.icon.icon-logo

      .header__cta
        .header__phone Need Assistance? <a href="tel:8006445012">Call 800.644.5012</a>
      .header__callback
        a(href="#signIn" js-popup data-effect="mfp-zoom-in").btn.btn-outline Sign in

      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner

// MOBILE NAVI
nav.mobile-navi
  .mobile-navi__wrapper
    a(href="tel:8006445012").mobile-navi__cta Need Assistance? <span>Call 800.644.5012</span>

    ul.mobile-navi__menu
      li
        a(href="homepage.html") Homepage
      li
        a(href="homepage.html") ABOUT US
      li
        a(href="homepage.html") BLOG
      li
        a(href="homepage.html") TERMS
      li
        a(href="homepage.html") PRIVACY
      li
        a(href="homepage.html") SCHOLARSHIP
      li
        a(href="homepage.html") CONTACT US
