////////////
// property
////////////

.property-line-b
  border-bottom: 1px solid #F4F4F4

.property-top
  display: flex
  align-items: center
  min-height: 80px
  &__wrap-text
    width: 60%
  &__wrap-like
    align-self: stretch
    width: 40%
  &__title
    font-size: 25px
    line-height: 34px
    font-weight: 800
    margin: 0
  &__subtitle
    font-size: 16px
    line-height: normal
    font-weight: 300
    margin: 0
  &__like
    display: flex
    align-items: center
    justify-content: center
    width: 90px
    height: 100%
    border-right: 1px solid #F4F4F4
    border-left: 1px solid #F4F4F4
    .ico
      width: 30px
      height: 27px
      color: #03588E

.property-list-top
  margin: 0
  padding: 10px 0
  &__text
    font-weight: 300
    font-size: 18px
    line-height: 25px
    margin-right: 40px
    &:last-child
      margin-right: 0
  &__b
    font-weight: 800

.wrap-main-section
  display: flex
  &__left
    flex-grow: 1
    width: 1px
  &__right
    flex-shrink: 0
    width: 397px

.shift-to-the-r-t
  margin-top: -47px
  width: calc(100% + 20px)

.shift-to-the-l


.check-availability
  background-color: #F4F4F4
  .ui-input
    height: 46px
    padding: 0 10px
  .selectric .label
    height: 46px
    background-color: #fff
  .selectric .button
    height: 46px
  &__title
    display: block
    text-align: center
    color: #fff
    font-size: 25px
    font-weight: 900
    padding: 11.5px 25px
    width: 100%
    background-color: $colorPrimary
  &__wrap
    padding: 17px 25px 25px
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__col-6
    width: calc(50% - 10px)
  &__col
    width: 100%
  &__bg-ico
    background-image: url('../img/calendar.svg')
    background-size: 19px 21px
    background-position: calc(100% - 14px) center
    background-repeat: no-repeat
  &__center
    display: flex
    justify-content: center
  &__button
    background-color: #ED1D25
    font-weight: 800
    color: #fff
    border-radius: 2px
    padding: 12px 24px
    font-family: $baseFont

.property-breadcrumbs
  display: flex
  margin: 0
  padding: 10px 0
  li
    font-weight: 500
    font-size: 18px
    line-height: 25px
    &:first-child
      &:before
        display: none
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      margin-right: 5px
    &:before
      content: '/ '

.temp-height
  height: 310px
  padding-bottom: 50px
