// property

section.indent-top-menu
  .container
    .property-top
      .property-top__wrap-text
        h1.property-top__title Auberry at Twin Creeks
        h2.property-top__subtitle 705 Bray Central Dr Allen, TX 75013
      .property-top__wrap-like
        a(href="#").property-top__like
          +svgMono('heart')