////////////
// property
////////////

.property-line-b
  border-bottom: 1px solid #F4F4F4

.property-top
  display: flex
  align-items: center
  min-height: 80px
  &__wrap-text
    width: 60%
  &__wrap-like
    align-self: stretch
    width: 40%
  &__title
    font-size: 25px
    line-height: 34px
    font-weight: 800
    margin: 0
  &__subtitle
    font-size: 16px
    line-height: normal
    font-weight: 300
    margin: 0
  &__like
    display: flex
    align-items: center
    justify-content: center
    width: 90px
    height: 100%
    border-right: 1px solid #F4F4F4
    border-left: 1px solid #F4F4F4
    .ico
      width: 30px
      height: 27px
      color: #03588E

.property-list-top
  margin: 0
  padding: 10px 0
  &__text
    font-weight: 300
    font-size: 18px
    line-height: 25px
    margin-right: 40px
    &:last-child
      margin-right: 0
  &__b
    font-weight: 800

.wrap-main-section
  display: flex
  &__left
    flex-grow: 1
    width: 1px
  &__right
    flex-shrink: 0
    width: 397px

.shift-to-the-r
  width: calc(100% + 20px)

.shift-to-the-l
  width: calc(100% + 20px)
  margin-left: -20px

.check-availability
  background-color: #F4F4F4
  .ui-input
    height: 46px
    padding: 0 10px
  .selectric .label
    height: 46px
    background-color: #fff
  .selectric .button
    height: 46px
  &__title
    display: block
    text-align: center
    color: #fff
    font-size: 25px
    font-weight: 900
    padding: 15px 25px
    width: 100%
    background-color: $colorPrimary
  &__wrap
    padding: 17px 25px 25px
  &__row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__col-6
    width: calc(50% - 10px)
  &__col
    width: 100%
  &__bg-ico
    background-image: url('../img/calendar.svg')
    background-size: 19px 21px
    background-position: calc(100% - 14px) center
    background-repeat: no-repeat
  &__center
    display: flex
    justify-content: center
  &__button
    background-color: #ED1D25
    font-weight: 800
    color: #fff
    border-radius: 2px
    padding: 12px 24px
    font-family: $baseFont

.property-breadcrumbs
  display: flex
  margin: 0
  padding: 10px 0
  li
    font-weight: 500
    font-size: 18px
    line-height: 25px
    &:first-child
      &:before
        display: none
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      margin-right: 5px
    &:before
      content: '/ '

.slider-home
  height: 361px
  &_indent
    margin-bottom: 50px
  .swiper-slide
    &:nth-child(3n+1)
      width: calc(60% - 4px)
      margin-right: 4px
      background-repeat: no-repeat
      background-position: center
      background-size: cover
    &:nth-child(3n+2)
      width: calc(20% - 8px)
      margin-right: 4px
      margin-left: 4px
    &:nth-child(3n+3)
      width: calc(20% - 4px)
      margin-left: 4px
  .swiper-pagination
    position: absolute
    z-index: 2
    left: 0
    bottom: 0
    color: #fff
    font-weight: 500
    font-size: 18px
    line-height: 25px
    padding: 8px 22px
    background-color: rgba(#000000, .6)
  &__wrap-img
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    height: 100%
  &__img
    width: 100%
    height: calc(50% - 4px)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &:first-child
      margin-bottom: 4px
    &:last-child
      margin-top: 4px
  .swiper-button-next, .swiper-button-prev
    position: absolute
    cursor: pointer
    z-index: 1
    top: 50%
    background-color: rgba(#000000,.6)
    .ico
      width: 17px
      height: 25px
      color: #fff
  .swiper-button-next
    padding: 11px 13px 11px 17px
    left: 100%
    transform: translate(-100%, -50%)
  .swiper-button-prev
    padding: 11px 17px 11px 13px
    left: 0
    transform: translate(0, -50%)

.property-tab-link
  display: flex
  margin: 0
  padding: 0
  border-bottom: 1px solid #D0D0D0
  li
    margin-right: 35px
    &:last-child
      margin-right: 0
    a
      display: block
      font-weight: 800
      font-size: 18px
      color: $colorPrimary
  &_active
    border-bottom: 4px solid #03588e

.property-tabs
  position: relative
  overflow: hidden

.property-tab
  position: absolute
  top: 0
  left: 0
  width: 100%
  visibility: hidden
  opacity: 0
  transition: $transitionSpeed
  &_active
    position: relative
    visibility: visible
    opacity: 1

.property-tabl
  width: 100%
  border-spacing: 0
  td
    border-bottom: 1px solid #D0D0D0
    padding: 20px 0
    font-size: 16px
    line-height: 22px
    &:last-child
      width: 113px
  &__btn
    font-weight: 800
    color: #fff
    font-size: 15px
    line-height: 20px
    background-color: $colorPrimary
    border-radius: 2px
    padding: 9px 14px