// property

section.indent-top-menu.property-line-b
  .container
    .property-top
      .property-top__wrap-text
        h1.property-top__title Auberry at Twin Creeks
        h2.property-top__subtitle 705 Bray Central Dr Allen, TX 75013
      .property-top__wrap-like
        a(href="#").property-top__like
          +svgMono('heart')

section.property-line-b
  .container
    ul.property-list-top
      li.property-list-top__text
        b.property-list-top__b 1 Bedroom 
        = '$999 – 1,300'
      li.property-list-top__text
        b.property-list-top__b 2 Bedrooms 
        = '$1,375 – 1,815'
      li.property-list-top__text
        b.property-list-top__b 3 Bedroom 
        = '$1,820 – 1,965'

section
  .container
    .wrap-main-section
      .wrap-main-section__left
        ul.property-breadcrumbs
          li Home
          li Texas
          li Houston
          li The Pointe at West Lake
        .shift-to-the-l
          .swiper-container.slider-home.slider-home_indent(js-slider-home)
            .swiper-wrapper
              .swiper-slide(style="background-image: url('img/home1-big@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home2-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home3-small@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home4-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home5-small@2x.jpg')")
              .swiper-slide(style="background-image: url('img/home1-big@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home2-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home3-small@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home4-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home5-small@2x.jpg')")
              .swiper-slide(style="background-image: url('img/home1-big@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home2-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home3-small@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home4-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home5-small@2x.jpg')")
              .swiper-slide(style="background-image: url('img/home1-big@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home2-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home3-small@2x.jpg')")
              .swiper-slide
                .slider-home__wrap-img
                  .slider-home__img(style="background-image: url('img/home4-small@2x.jpg')")
                  .slider-home__img(style="background-image: url('img/home5-small@2x.jpg')")
            .swiper-pagination
            .swiper-button-next
              +svgMono('right-arrow')
            .swiper-button-prev
              +svgMono('left-arrow')
        ul.property-tab-link
          li
            a(href="#tab1").property-tab-link_active All
          li 
            a(href="#tab2") Studio
          li 
            a(href="#tab3") 1 Bed
          li 
            a(href="#tab4") 2 Beds
          li 
            a(href="#tab5") 3 Beds

        .property-tabs
          #tab1.property-tab.property-tab_active
            table.property-tabl
              tbody
                tr
                  td Studio
                  td 1 Bathroom
                  td $1,630
                  td 505 sq. ft.
                  td M4-ADA
                  td Available Now
                  td
                    a(href="#").property-tabl__btn View Model
                - for (var x = 0; x < 8; x++)
                  tr
                    td Studio
                    td 1 Bathroom
                    td $1,730 - $1,840
                    td 489 sq. ft.
                    td M3
                    td Available Now
                    td
                      a(href="#").property-tabl__btn View Model
          #tab2.property-tab
            table.property-tabl
              tbody
                tr
                  td Studio
                  td 1 Bathroom
                  td $1,630
                  td 505 sq. ft.
                  td M4-ADA
                  td Available Now
                  td
                    a(href="#").property-tabl__btn View Model
                - for (var x = 0; x < 8; x++)
                  tr
                    td Studio
                    td 1 Bathroom
                    td $1,730 - $1,840
                    td 489 sq. ft.
                    td M3
                    td Available Now
                    td
                      a(href="#").property-tabl__btn View Model
          #tab3.property-tab
            table.property-tabl
              tbody
                tr
                  td Studio
                  td 1 Bathroom
                  td $1,630
                  td 505 sq. ft.
                  td M4-ADA
                  td Available Now
                  td
                    a(href="#").property-tabl__btn View Model
                - for (var x = 0; x < 8; x++)
                  tr
                    td Studio
                    td 1 Bathroom
                    td $1,730 - $1,840
                    td 489 sq. ft.
                    td M3
                    td Available Now
                    td
                      a(href="#").property-tabl__btn View Model
          #tab4.property-tab
            table.property-tabl
              tbody
                tr
                  td Studio
                  td 1 Bathroom
                  td $1,630
                  td 505 sq. ft.
                  td M4-ADA
                  td Available Now
                  td
                    a(href="#").property-tabl__btn View Model
                - for (var x = 0; x < 8; x++)
                  tr
                    td Studio
                    td 1 Bathroom
                    td $1,730 - $1,840
                    td 489 sq. ft.
                    td M3
                    td Available Now
                    td
                      a(href="#").property-tabl__btn View Model
          #tab5.property-tab
            table.property-tabl
              tbody
                tr
                  td Studio
                  td 1 Bathroom
                  td $1,630
                  td 505 sq. ft.
                  td M4-ADA
                  td Available Now
                  td
                    a(href="#").property-tabl__btn View Model
                - for (var x = 0; x < 8; x++)
                  tr
                    td Studio
                    td 1 Bathroom
                    td $1,730 - $1,840
                    td 489 sq. ft.
                    td M3
                    td Available Now
                    td
                      a(href="#").property-tabl__btn View Model

      .wrap-main-section__right
        .shift-to-the-r
          form.check-availability
            .check-availability__title Check Availability
            .check-availability__wrap
              .check-availability__row
                .check-availability__col-6
                  .ui-group
                    input(type="text" placeholder="First Name*" required).ui-input
                .check-availability__col-6
                  .ui-group
                    input(type="text" placeholder="Last Name*" required).ui-input
                .check-availability__col
                  .ui-group
                    input(type="text" placeholder="Email id*" required).ui-input
                .check-availability__col
                  .ui-group
                    input(type="text" placeholder="Phone").ui-input
                .check-availability__col-6
                  .ui-group
                    input(type="text" placeholder="Date" js-date js-dateMask).ui-input.check-availability__bg-ico
                .check-availability__col-6
                  .ui-group
                    select(js-select)
                      option(value="0") Lease Term
                      option(value="1") Lease Term 1
                      option(value="2") Lease Term 2
                      option(value="3") Lease Term 3
                      option(value="4") Lease Term 4
                      option(value="5") Lease Term 5
                .check-availability__col.check-availability__center
                  button(type="submit").check-availability__button GET QUOTE NOW