// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      ul.footer__menu
        li
          a(href="about.html") ABOUT US
        li
          a(href="#") BLOG
        li
          a(href="#") TERMS
        li
          a(href="#") PRIVACY
        li
          a(href="#") SCHOLARSHIP
        li
          a(href="contact.html") CONTACT US
      ul.footer__socials.socials-list
        li
          a(href="#" target="_blank")
            +svgMono('social-facebook')
        li
          a(href="#" target="_blank")
            +svgMono('social-twitter')
        li
          a(href="#" target="_blank")
            +svgMono('social-linkedin')
        li
          a(href="#" target="_blank")
            +svgMono('social-instagram')
      .footer__copyright
        p © 2017, RentDeals.com

// FOOTER :: END
