.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-linkedin {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
