.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-heart {
  width: 1.11em;
  height: 1em;
  fill: #03588E;
}
.ico-mono-left-arrow {
  width: 0.68em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-location {
  width: 1em;
  height: 1em;
  fill: #9A9A9A;
}
.ico-mono-mail-result {
  width: 1.3em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #03588E;
}
.ico-mono-right-arrow {
  width: 0.68em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-search-thin {
  width: 0.95em;
  height: 1em;
  fill: #03588E;
}
.ico-mono-search {
  width: 1em;
  height: 1em;
  fill: #999;
}
.ico-mono-select-arrow {
  width: 1.43em;
  height: 1em;
  fill: #000;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-linkedin {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-town {
  width: 0.97em;
  height: 1em;
  fill: #000;
}
