// HOME BENEFITS
.home-benefits
  .container
    .home-benefits__wrapper
      .home-benefits__head
        h2.h1-title.home-benefits__title(data-aos="fade-up") Corporate Furnished <br/>Apartments
        p.p-main.f-300(data-aos="fade-up") At <a href="rentdeals.com">RentDeals.com</a>, we strive to make relocating and searching for furnished apartments easy and convenient. Our mission at RentDeals.com is to provide renters with furnished rental packages that will accomodate most budgets.

      .home-benefits__grid

        .home-benefits__col
          .home-benefits__card.card-benefits(data-aos="fade-up")
            .card-benefits__icon
              i.icon.icon-benefit-diary
            .card-benefits__title Customize to your preference
        .home-benefits__col
          .home-benefits__card.card-benefits(data-aos="fade-up" data-aos-delay="200")
            .card-benefits__icon
              i.icon.icon-benefit-range
            .card-benefits__title Wide range of <br/>options available
        .home-benefits__col
          .home-benefits__card.card-benefits(data-aos="fade-up" data-aos-delay="400")
            .card-benefits__icon
              i.icon.icon-benefit-wallet
            .card-benefits__title High quality and <br/>cost efficient

      .home-benefits__cta(data-aos="fade-up")
        a(href="#").btn.btn-outline.btn-outline--blue.btn--big Learn More
