// SITEMAP :: BEGIN

section.indent-top-menu
  .container.container--1400
    .sitemap
      .sitemap__search
        .ui-group
          input.ui-input(type="text", name="" placeholder="Atlanta, GA")
        button.sitemap__search-button
          +svgMono('search-thin')
      .sitemap__breadcrumbs
        a(href="#") Home
        a(href="#") Site Map
      p.sitemap__name-page Site Map Page
      .sitemap__item
        p.sitemap__title Alabama Area
        .sitemap__links
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
      .sitemap__item
        p.sitemap__title Alaska Area
        .sitemap__links
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
      .sitemap__item
        p.sitemap__title Arizona Area
        .sitemap__links
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
      .sitemap__item
        p.sitemap__title Arkansas Area
        .sitemap__links
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Auburn Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Birmingham Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments
          a(href="#") Dothan Apartments

// SITEMAP :: END
